.vscode/*
.vscode/*.vc.db-shm
.vscode/*.vc.db-wal
.vscode/*.json
.vscode/*.json
.vscode/browse.vc.db
src/ee4308_turtle/.vscode/*
src/ee4308_turtle/src/.vscode/*.vc.db
src/ee4308_turtle/src/.vscode/*
src/.vscode/*
build/*
devel/*
